/* natives */
body {
    color: #181818;
}
h3 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}
div{
    border-radius: 5%;
}
/* class to display horizontaly */
.horizontal-container{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.horizontal-subcontainer-for-4{
    width:20%;
    float:left;
    margin: 1%;
}

.horizontal-subcontainer-for-2{
    width:42%;
    float:left;
    margin: 3%;
}

.horizontal-subcontainer-for-3{
    width:30%;
    float:left;
    margin: 3%;
}
/* class and id to display on conditions */
#div-check-number{
    display:none;
}
#div-author{
    display:none;
}
#div-beneficiary{
    display:none;
}
#div-theme-sub{
    display:none;
}
#div-tenant{
    display:none;
}


/* nav bar */
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #f2cfa1;
    background-color: #faebd7;
  }
  
.menu-a {
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.menu-a:hover {
    background-color: #f7e3c8 !important;
}
  
.menu-a.active {
    background-color: #f2cfa1 ;
}