/* natives */
h3 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}
div{
    border-radius: 5%;
}
/* class to display horizontaly */
.horizontal-container{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.horizontal-subcontainer-for-4{
    width:20%;
    float:left;
    margin: 1%;
}

.horizontal-subcontainer-for-2{
    width:42%;
    float:left;
    margin: 3%;
}

.horizontal-subcontainer-for-3{
    width:30%;
    float:left;
    margin: 3%;
}
/* class to display on conditions */
.display-if-type-check{
    display:none;
}
.display-if-theme-matches-author{
    display:none;
}
.display-if-theme-present{
    display:none;
}
.display-if-theme-matches-themesub{
    display:none;
}
.display-if-theme-rent{
    display:none;
}