 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulaire d'enregistrement de dépenses</title>
    <meta charset="UTF-8">
    <link href="../static/css/formLayout.css" th:href="@{/css/formLayout.css}" rel="stylesheet" />
</head>
<body>
    
    <header th:insert="~{menu.html :: menu}"> </header>

    <h3 class:"title">Formulaire de dépenses</h3>


    <p>Formulaire pour entrer une dépense</p>


    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script type="text/javascript"  th:src="@{/javascript/formManager.js}"></script>
</body>
</html> 