 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulaire d'enregistrement de dépenses</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/formLayout.css}" rel="stylesheet" />
</head>
<body>
    
    <header th:insert="~{menu.html :: menu}"> </header>

    <h3 class:"title">Formulaire de dépenses</h3>

    <p>Formulaire pour entrer une dépense</p>

        <form th:action="@{/api/myRecords/addANewRecord}" th:object="${myRecord}" method="post">
            <div class="horizontal-container">
                <div class="horizontal-subcontainer-for-4">
                    <label class="date">date de la transaction : </label>
                    <div class="date">
                        <input type="date" th:field="*{dateOfTransaction}" class="dateOfTransaction" required/>
                    </div>
                </div>
                <div class="horizontal-subcontainer-for-4">
                    <label class="typeOfTransaction">type de transaction : </label>
                    <select name="typeOfTransaction" class="type-of-transactions" required>
                        <option value="">Please Select</option>
                        <option th:each="typeOfTransactionOpt : ${typeOfTransactionList}" 
                            th:value="${typeOfTransactionOpt}" th:text="${typeOfTransactionOpt}"></option>
                    </select>
                </div> 
                <div class="horizontal-subcontainer-for-4">
                    <label class="name">nom de l'entreprise, créditeur, commentaires ... : </label>
                    <div class="name">
                        <input type="text" th:field="*{name}" class="name" required/>
                    </div>
                </div> 
                <div class="horizontal-subcontainer-for-4">
                    <label class="amount">montant (en euro 0,00) : </label>
                    <div class="amount">
                        <input type="text" th:field="*{amount}" pattern="[0-9\.]+" maxlength="10" value="€" required>
                    </div>
                </div>
            </div>
            <div class="horizontal-container">
                <div class="horizontal-subcontainer-for-4"></div>
                <div id="div-check-number" class="horizontal-subcontainer-for-4">
                    <label class="check-number">n° de chèque : </label>
                    <div class="check-number">
                        <input type="check-number" th:field="*{checkNumber}" class="check-number"/>
                    </div>
                </div>
                <div class="horizontal-subcontainer-for-4"></div>
                <div class="horizontal-subcontainer-for-4"></div>
            </div>
            <div class="horizontal-container">
                <div id="div-theme-general" class="horizontal-subcontainer-for-2 horizontal-subcontainer-for-3">
                    <label>thème : </label>
                    <select name="ThemeGeneral" class="theme-general" required>
                        <option value="">Please Select</option>
                        <option th:each="themeGeneral : ${themeGeneralList}" 
                            th:value="${themeGeneral}" th:text="${themeGeneral}"></option>
                    </select>
                </div>
                <div id="div-theme-sub" class="horizontal-subcontainer-for-2 horizontal-subcontainer-for-3">
                    <label>sous thème : </label>
                    <select name="ThemeSub" id="theme-sub">
                        <option value="">Please Select</option>
                        <option th:each="themeSub : ${themeSublList}" 
                            th:value="${themeSub}" th:text="${themeSub}"></option>
                    </select>
                </div>
                <div id="div-author" class="horizontal-subcontainer-for-3">
                    <label>auteur : </label>
                    <select name="author">
                        <option value="">Please Select</option>
                        <option th:each="author : ${authorList}" 
                            th:value="${author}" th:text="${author}"></option>
                    </select>

                </div>
                <div id="div-beneficiary" class="horizontal-subcontainer-for-2">
                    <label class="beneficiary">bénéficiaire : </label>
                    <div class="beneficiary">
                        <input type="text" th:field="*{beneficiary}" maxlength="50">

                    </div>
                </div>
                <div id="div-tenant" class="horizontal-subcontainer-for-3">
                    <label class="tenant">locataire : </label>
                    <div class="tenant">
                        <input type="text" th:field="*{tenant}">

                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn" value="Add MyRecord">register</button>
            </div>
            
        </form>


    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script type="text/javascript"  th:src="@{/javascript/formManager.js}"></script>
</body>
</html> 