<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List of All Records</title>
        <meta charset="UTF-8">
        <link th:href="@{/css/formLayout.css}" rel="stylesheet" />
    </head>
        <body>
            <header th:insert="~{menu.html :: menu}"> </header>
            <table>
                <thead>
                    <tr>
                        <th> date </th>
                        <th> type de transaction </th>
                        <th> n° de Chèque </th>
                        <th> label </th>
                        <th> thème </th>
                        <th> sous thème </th>
                        <th> montant </th>
                        <th> auteur </th>
                        <th> locataire </th>
                        <th> destinataire </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${myRecords.isEmpty()}">
                        <td colspan="2"> aucun enregistrements disponibles </td>
                    </tr>
                    <tr th:each="currentRecord : ${myRecords}">
                        <td class="standard-td"><span th:text="${#dates.format(currentRecord.dateOfTransaction, 'dd-MM-yyyy')}"> date </span></td>
                        <td class="standard-td"><span th:text="${currentRecord.typeOfTransaction}"> type de transaction </span></td>
                        <td class="standard-td"><span th:text="${currentRecord.checkNumber}"> n° de Chèque </span></td>
                        <td class="standard-td"><span th:text="${currentRecord.name}"> label </span></td>
                        <td class="standard-td"><span th:text="${currentRecord.themeGeneral}"> thème </span></td>
                        <td class="standard-td"><span th:text="${currentRecord.themeSub}"> sous thème </span></td>
                        <td id="amount-td"><span th:text="${#numbers.formatDecimal(currentRecord.amount, 1, 'WHITESPACE', 2, 'COMMA')}"> amount </span></td>
                        <td class="standard-td"><span th:text="${currentRecord.author}"> auteur </span></td>
                        <td class="standard-td"><span th:text="${currentRecord.tenant}"> locataire </span></td>
                        <td class="standard-td"><span th:text="${currentRecord.beneficiary}"> destinataire </span></td>
                    </tr>
                </tbody>
            </table>
        </body>
</html>