<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    <meta charset="utf-8">
    <title>Home Page</title>
    
</head>
<!--TODO folow https://www.codejava.net/frameworks/spring-boot/user-registration-and-login-tutorial
and make it work-->
<body>
    <div>
        <h1>Hello !</h1>
        <p>Welcome to <span th:text="${appName}">Our App</span></p>
        <header th:insert="~{menu.html :: menu}"> </header>
        <h4>achivements</h4>
        <ul>
            <li>I'm using SpringBoot</li>
            <li>I'm using Thymleaf, which permits my menue to be vectorise.</li>
            <li>From all html pages I can return to this home page, with no error.</li>
            <li>Adding Lombok, which generate seters and getters automaticaly.</li>
            <li>Handeling Errors.</li>
            <li>Adding a MyRecordController</li>
            <li>I'm using JavaScript to have an dynamic form.</li>
            <li>model.enums for picklists : Author, General Theme, Sub Theme an Type of Transaction.</li>
            <li>All of my tests are in the green.</li>
            <li>Adding SQL database, with mySQL depedencies</li>
            <li>file .properties set for SQL and Thymeleaf</li>
            <li>Java Enum linked with Widget classes for easy access in HTML, thanks to Thymleaf</li>
        </ul>
    </div>
</body>
</html>