<html xmlns:th="http://www.thymeleaf.org">
<head><title>Home Page</title></head>
<body>
    <div>
        <h1>Hello !</h1>
        <p>Welcome to <span th:text="${appName}">Our App</span></p>
        <div th:insert="menu :: menu"></div>
        <h4>achivements</h4>
        <ul>
            <li>I'm using SpringBoot</li>
            <li>I'm using Thymleaf, which permits my menue to be vectorise.</li>
            <li>From all html pages I can return to this home page, with no error.</li>
            <li>Adding Lombok, which generate seters and getters automaticaly.</li>
            <li>Handeling Errors.</li>
            <li>Adding a MyRecordController</li>
            <li>I'm using JavaScript to have an dynamic form.</li>
            <li>I'm model.enums for picklists : Author, General Theme, Sub Theme an Type of Transaction.</li>
            <li>I have a few tests in the green.</li>
            <li>Adding SQL database, with mySQL depedencies</li>
            <li>file .properties set for SQL and Thymeleaf</li>
        </ul>
    </div>
</body>
</html>