<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    <meta charset="utf-8">
    <title>Home Page</title>
    <link th:href="@{/css/formLayout.css}" rel="stylesheet" />
</head>

<body>

        <header th:insert="~{menu.html :: menu}"> </header>

        <h4>achivements</h4>
        <p>In this project what did I achive.</p>
        <ul>
            <li>I'm using SpringBoot.</li>
            <li>I'm using Thymeleaf, which enables my menue to be vectorise.</li>
            <li>From all HTML pages I can return to this home page, with no error.</li>
            <li>Adding Lombok, which generate seters and getters automaticaly.</li>
            <li>Handeling Errors.</li>
            <li>Adding a MyRecordController</li>
            <li>I'm using JavaScript to have an dynamic form.</li>
            <li>model.enums for picklists : Author, General Theme, Sub Theme an Type of Transaction.</li>
            <li>All of my tests are in the green.</li>
            <li>Adding SQL database, with mySQL depedencies</li>
            <li>File .properties set for SQL and Thymeleaf</li>
            <li>Java Enum linked with Widget classes for easy access in HTML, thanks to Thymleaf</li>
            <li>From HTML form insert in SQL database, using Thymeleaf mapping and SpringBoot</li>
            <li>Display the SQL database into HTML table, using Thymeleaf</li>
        </ul>
    </div>
</body>
</html>