<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>menu</title>
        <meta charset="UTF-8">
    </head>
    <body>
      <div id="menu" th:fragment="menu">
            <a th:class="'menu-a '+${(#ctx.springRequestContext.requestUri == '/') ? 'active' : ''}" href="/">home</a>
            <a th:class="'menu-a '+${(#ctx.springRequestContext.requestUri == '/business-rules') ? 'active' : ''}" href="/business-rules">business rules</a>
            <a th:class="'menu-a '+${(#ctx.springRequestContext.requestUri == '/account-form') ? 'active' : ''}" href="/account-form">account form</a>
            <a th:class="'menu-a '+${(#ctx.springRequestContext.requestUri == '/all-records') ? 'active' : ''}" href="/all-records">all records</a>

      </div>   
    </body>
</html> 