<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List of All Records</title>
        <meta charset="UTF-8">
        <link th:href="@{/css/formLayout.css}" rel="stylesheet" />
    </head>
        <body>
            <header th:insert="~{menu.html :: menu}"> </header>
            <table>
                <thead>
                    <tr>
                        <th> date </th>
                        <th> type de transaction</th>
                        <th> montant </th>
                        <th> label </th>
                        <th> Salarié </th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${myRecords.isEmpty()}">
                        <td colspan="2"> aucun enregistrements disponibles </td>
                    </tr>
                    <tr th:each="currentRecord : ${myRecords}">
                        <td><span th:text="${currentRecord.dateOfTransaction}"> date </span></td>
                        <td><span th:text="${currentRecord.typeOfTransaction}"> type de transaction </span></td>                        
                        <td><span th:text="${currentRecord.amount}"> amount </span></td>
                        <td><span th:text="${currentRecord.name}"> label </span></td>
                        <td><span th:text="${currentRecord.themeGeneral}"> thème </span></td>
                    </tr>
                </tbody>
            </table>
        </body>
</html>